<!DOCTYPE>
<html lang="en">
<head>
    <title>ONE ROUTE ONE WAY</title>
    <style>
        html, body {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
        }
        .m-top {
            margin-top: 20px;
        }

        .form-group {
            display: flex;
            justify-content: space-between;
        }

        .error {
            color: red;
        }
    </style>
    {% block styles %}{% endblock %}
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>