{% extends 'components/routes/templates/base.html' %}

{% block table %}
<div></div>
<table cellspacing="0">
    <tr>
        <th>ID</th>
        <th>name</th>
        <th>POINTS</th>
    </tr>
    {% for route in routes %}
    <tr>
        <td>{{ route.id }}</td>
        <td>{{ route.name }}</td>
        <td>{{ route.points|join('-') }}</td>
    </tr>
    {% endfor %}
</table>

<div></div>
<div class="row pagination">
    <input type="text" disabled value="Page: {{ current_page }}">

    <form method="get" action="/routes/">
        <input type="submit" value="<">
        <input type="number" name="page" value="{{ previous_page }}" {% if previous_page == None  %}disabled {% endif %}} style="display: none">
    </form>
    <form method="get" action="/routes/">
        <input type="submit" value=">">
        <input type="number" name="page" value="{{ next_page }}" style="display: none">
    </form>
</div>
{% endblock %}